<head>

  %include templates/parts/head.html


</head>
<body>

  <!-- Navigation Bar -->
  %include templates/parts/navBar.html

  <!-- Main Content -->
  <div class="container">

    <!-- Header -->
    <div id="pageHeader">
      <h1>
        Sıkıysa Yakala
      </h1>
      <p>
        Problemi Yazanlar: Julia Lee, Kerem Goksel ve Chris Piech
      </p>
      <p>
        Ders Notları:
        <a href ="{{pathToRoot}}handouts/graphics.html">Grafik Referansı</a>, <a href ="{{pathToRoot}}handouts/events.html">Olaylar(Events) Referansı</a>
        <br/>
      </p>

    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p>
          <ol>
            <li>Kanvasa (canvas) bir daire ekleyin.</li>
            <li>Ne zaman fare daireye dokunursa daireyi rastgele bir konuma taşıyan bir fare olay dinleyicisi (mouse event listener) ekleyin.</li>
          </ol>
        </p>
        <p>
          <center>
            <img style="width:500px" src="{{pathToRoot}}img/projects/sandcastles/catchMeIfYouCan.png">  
          </center>
        </p>
      </div>
    </div>

    <br/>
    
    %include templates/parts/footer.html

  </div>
</body>
