<head>

  %include templates/parts/head.html


</head>
<body>

  <!-- Navigation Bar -->
  %include templates/parts/navBar.html

  <!-- Main Content -->
  <div class="container">

    <!-- Header -->
    <div id="pageHeader">
      <h1>
        Çekirge Bir Sıçrar İki Sıçrar
      </h1>
      <p>
       Yazanlar: Julia Lee ve Chris Piech.
      </p>
      <p>
        Ders Notları:
        <a href ="{{pathToRoot}}handouts/graphics.html">Grafik Referansı</a>
        <br/>
        Çalışan Örnek: 
        <a href ="{{pathToRoot}}projects/target.html">Hedef Tahtası</a>
        <br/>
      </p>

    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p>
          Bilgisayar biliminin bir muhteşem uygulaması da aşağıdaki gibi ilginç veri görselleştirmeleri oluşturmak için onu kullanmaktır:
        </p>
        <p>
          <center>
            <img style="width:500px" src="{{pathToRoot}}img/projects/drawPeople/twitter.jpg">  
          </center>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          Yeni grafik becerilerinizle, siz de yapabilirsiniz! Üç farklı konumda bir insan şekli çizen bir GraphicsProgram yazınız.
        </p>
        <p>
          <center>
            <img style="width:500px" src="{{pathToRoot}}img/projects/drawPeople/demo.png">  
          </center>
        </p>
        <h2>Detaylar</h2>
        <ol>
          <li>Bir insan baştan, gövdeden ve bacaklardan oluşur. Başlangıç dosyası (drawPerson.java) varsayılan boyutları ve renkleri içermektedir.</li>
          <li>
            <div>x-koordinatı ve y-koordinatı olmak üzere iki parametre alan bir method yazmalısınız. Bu metot başı o koordinatlarda olan bir insan çizecek.</div>
            <div class="well"><code><b>private</b> void drawPerson(<b>int</b> headX, <b>int</b> headY)</code></div>
          <li>Aşağıdaki üç konumda bir insan çizdirmelisiniz: 
            <ol>
              <li>(40, 40)</li>
              <li>(300, 300)</li>
              <li>(600, 175)</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>

    <br/>
    
    %include templates/parts/footer.html

  </div>
</body>
